.main{
    width: 60%;
    height: 120%;
}
.main-head{
    background-color: crimson ;
    color: blue ;
}
.main-body{
    background-color: aquamarine;
    color: black;
}
.main-simple{
    color: blueviolet;
    background-color: burlywood;
}
.main-caption{
    font-size: 400%;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}